footer{
    background-color: #f7f7f7 !important;
    padding: 2em 0;
    border-top: solid 1px #eee;

    .nav a{
        color: $gray;

        &:hover{
            color: darken($gray, 20%);
        }
    }

    #copyright{
        font-size: 0.6em;

        margin-top: 2em;
    }
}
