body, html{
    width: 100%;
}

body{
    background-image: url('../../../res/img/bg-compressed.jpg') no-repeat center center fixed;
	 background-size: cover;
	 height: 100%;
    background-attachment: fixed;
    background-position: center;

	 font-family: 'Open Sans', sans-serif;
}
