nav{
	$font-color: #fff;
	font-family: 'Lato', sans-serif;


	button{
		color: $font-color;
		opacity: 0.8;
	}

	// My name
	.navbar-brand{
		$size: 1.3em;
		color: $font-color;
		opacity: 0.8;

		font-size: $size;
		font-weight: 600;

		&:hover{
			opacity: 1;
		}
	}

	.navbar-nav{
		// Nav links
		.nav-link{
			color: $font-color !important;
			opacity: 0.8;
			font-size: 1.3em;
			font-weight: 600;

			display: inline;
			line-height: 200%;

			&:hover{
				opacity: 1;
			}
		}
	}

	// Collapsed nav
	@media (max-width: map-get($grid-breakpoints, md) - 1){
		.navbar-brand{
			width: 100%;
			z-index: -1;

			position: absolute;
			top: 0.3em;
			left: 0;
		}

		.nav-link{
			$l-margin: 1em;
			$border-size: 0.1em;
			display: block !important;
			padding-left: 1em;
			margin: 1em 0;

			&.active{
				margin-left: $l-margin - $border-size;
				border-bottom: none !important;
				border-left: solid $border-size $brand-primary;
				line-height: 1em;
			}

			margin-left: $l-margin;
		}
	}
}
