#find-me{
	h4{
		font-family: 'open sans', sans-serif;
		font-weight: 200;
	}
	img{
		-webkit-filter: grayscale(50%);
		filter: grayscale(50%);
		width: 60%;

		&:hover{
			-webkit-filter: none;
			filter: none;
		}
	}
}
