#github-stats{
	$github-blue: #4078c0;

	h4{
		font-size: 3em;
		font-weight: 600;
		margin-top: 0.6em;
	}

	a{
		color: $github-blue;

		&:hover, &:focus{
			text-decoration: none;
			color: darken($github-blue, 12.5%);
		}
	}


}
